<div *ngIf="currentTest" class="edit-form">
  <h4>Datos del estudiante</h4>
  <form>
    <div class="form-group">
      <label for="title">Ap. Paterno</label>
      <input type="text" class="form-control" id="appPaterno" [(ngModel)]="currentTest.appPaterno"
        name="appPaterno" />
    </div>



  </form>
  <!-- R1 -->

  {{ this.MD }} , {{ this.MI }} , {{ this.MS }} , {{ this.MC }} <br>
  {{ this.LD }} , {{ this.LI }} , {{ this.LS }} , {{ this.LC }} <br>
  {{ this.TotD }} , {{ this.TotI }} , {{ this.TotS }} , {{ this.TotC }} <br>

  <br>
  {{ this.ResultMD }} - {{ this.ResultMI }} - {{ this.ResultMS }} - {{ this.ResultMC }} <br>
  {{ this.ResultLD }} - {{ this.ResultLI }} - {{ this.ResultLS }} - {{ this.ResultLC }} <br>
  {{ this.ResultTotD }} - {{ this.ResultTotI }} - {{ this.ResultTotS }} - {{ this.ResultTotC }} <br>

  <br>
  <!--
{{ this.FinalT }} - {{ this.FinalM }} - {{ this.FinalL}}  <br>
{{ this.FinalResult }}  <br>
{{ this.Result }}  <br>
{{ this.message }}  <br>
-->

  {{ test.FinalT }} - {{ test.FinalM }} - {{ test.FinalL}} <br>
  {{ test.FinalResult }} <br>
  {{ test.Result }} <br>
  {{ test.message }} <br>

  <!--

  {{ test.gentilM }} - {{ test.gentilL }} |
  {{ test.menteabiertaM }} - {{ test.menteabiertaL }} |
  {{ test.quisquillosoM }} - {{ test.quisquillosoL }} |
  {{ test.receptivoM }} - {{ test.receptivoL }} |
  <br>

  {{ test.humildeM }} - {{ test.humildeL }} |
  {{ test.complacienteM }} - {{ test.complacienteL }} |
  {{ test.inconquistableM }} - {{ test.inconquistableL }} |
  {{ test.cordialM }} - {{ test.cordialL }} |
  <br>

  {{ test.originalM }} - {{ test.originalL }} |
  {{ test.animosoM }} - {{ test.animosoL }} |
  {{ test.juguetonM }} - {{ test.juguetonL }} |
  {{ test.moderadoM }} - {{ test.moderadoL }} |
  <br>
  <br>
-->

  <!--
  <button
    class="badge badge-primary mr-2"
    *ngIf="currentTest.published"
    (click)="updatePublished(false)"
  >
    UnPublish
  </button>
  
  <button
    *ngIf="!currentTest.published"
    class="badge badge-primary mr-2"
    (click)="updatePublished(true)"
  >
    Publish
  </button>


  <button class="badge badge-danger mr-2" (click)="deleteTest()">
    Delete
  </button>

  <button type="submit" class="badge badge-success" (click)="updateTest()">
    Update
  </button>
  <p>{{ message }}</p>
  -->
</div>

<div *ngIf="!currentTest">
  <br />
  <p>Cannot access this Test...</p>
</div>